$green: #88c74a;
$pink: #fd5f5c;
$coffee: #f79823;
$subcolor-1: #fff2d0;
$subcolor-2: #e0ffd9;
$subcolor-3: #ffdedc;
$subcolor-4: #def1ff;
$subcolor-5: #fbf9c9;
$subcolor-6: #ffd7ed;
$subcolor-7: #eaeff4;
$star: #efb11c;
$title: #252525;
$white: #fff;
$black: #000;
$regular: #636363;
$disable: #b2b2b2;
$disable-2: #d1d1d1;
$line: #ebebeb;
$line-2: #f5f5f5;
$trans: transparent;