@font-face {
	font-family: 'Cera Pro Thin';
	src:url('../fonts/Cera Pro Thin.otf');
}	
@font-face {
	font-family: 'Cera Pro Thin Italic';
	src:url('../fonts/Cera Pro Thin Italic.otf');
}	
@font-face {
	font-family: 'Cera Pro Light';
	src:url('../fonts/Cera Pro Light.otf');
}	
@font-face {
	font-family: 'Cera Pro Light Italic';
	src:url('../fonts/Cera Pro Light Italic');
}	
@font-face {
	font-family: 'Cera Pro Regular';
	src:url('../fonts/Cera Pro Regular.otf');
}	
@font-face {
	font-family: 'Cera Pro Regular Italic';
	src:url('../fonts/Cera Pro Regular Italic.otf');
}	
@font-face {
	font-family: 'Cera Pro Medium';
	src:url('../fonts/Cera Pro Medium.otf');
}	
@font-face {
	font-family: 'Cera Pro Medium Italic';
	src:url('../fonts/Cera Pro Medium Italic.otf');
}	
@font-face {
	font-family: 'Cera Pro Bold';
	src:url('../fonts/Cera Pro Bold.otf');
}	
@font-face {
	font-family: 'Cera Pro Bold Italic';
	src:url('../fonts/Cera Pro Bold Italic.otf');
}	
@font-face {
	font-family: 'Cera Pro Black';
	src:url('../fonts/Cera Pro Black.otf');
}	
@font-face {
	font-family: 'Cera Pro Black Italic';
	src:url('../fonts/Cera Pro Bold Italic.otf');
}	
